h1 {color: dimGrey; font-size:60px}

g4 {color: whiteSmoke; font-size:100px}

p3 {color:whiteSmoke;font-size:30px}

p2 {color:whiteSmoke;font-size:20px}


p1 {color:whiteSmoke}

p5 {color:whiteSmoke}

p6 {color:whiteSmoke;font-size:26px}

.block {
    display: block;
    width: 10%;
    border: solid;
    background-color: whiteSmoke;
    padding: 14px 28px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}
